# The platform to build for. Multiple platforms need to be comma-separated. Use ALL to
# build for all platforms.
# e.g. platform = BETAFLIGHTF3,NAZE
platform = 

# Betaflight release to build
# e.g. release = 3.2.1
release = 

# Specify additional build options to be used as defines during the build (advanced only)
options = 

############################## Patches ##############################

# Disable PID profile change via RC control (added 3.2.1)
# enabled: disablePidProfile.patch = yes
# disabled: disablePidProfile.patch = no
disablePidProfile.patch = no

# Change default camera controls (added 3.2.1)
# enabled: cameraControl.patch = yes
# disabled: cameraControl.patch = no
# 
# Possible values for stick position:
# throttle center/low/high: THR_CE/THR_LO/THR_HI
# yaw center/left/right: YAW_CE/YAW_LO/YAW_HI
# pitch center/low/high: PIT_CE/PIT_LO/PIT_HI
# roll center/left/right: ROL_CE/ROL_LO/ROL_HI
cameraControl.patch  = no
cameraControl.enter  = THR_CE + YAW_HI + PIT_CE + ROL_CE
cameraControl.left   = THR_CE + YAW_CE + PIT_CE + ROL_LO
cameraControl.up     = THR_CE + YAW_CE + PIT_HI + ROL_CE
cameraControl.right  = THR_CE + YAW_CE + PIT_CE + ROL_HI
cameraControl.down   = THR_CE + YAW_CE + PIT_LO + ROL_CE
cameraControl.upLong = THR_LO + YAW_CE + PIT_HI + ROL_CE
